header{
    background-color: black;
    padding: 30px;
    text-align: center;
    font-size: 35px;
    color: white;
}
nav{
    color: grey;

}
body {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    background-color: black;
    color: white;
    
    }
div.divi{
    border: dotted;
    border-width: 2px;
    background-color: red;
    width: 100px;
    height: 100px;
    margin: 50px;
    padding: 35px;
    position: relative;
    left: 30px;

}
h1{
    font-size: 20px;

}
p{
    font-size: 12px;
    color: green;
    margin: 35px;
}
ul{
    list-style-type: square;
    font-size: 10px;
    text-align:left;
}
ol{
    list-style-type:lower-alpha
}
a.highlight:hover{
    color:red
}
h3{
    position: fixed;
    bottom: 0;
    right: 0;
}
div.dive{
    float: left;
    width: 50%;
}
section{
    float:right;
    width: 40%;
}
.one{
    background-color: blue;
    border: dotted;
}
.two{
    background-color: grey;
}
.three{
    background-color: green;
    width: 120px;
}
footer{
    position:fixed;
    bottom: 0;
    left: 0;
}
aside{
    position: fixed;
    bottom: 0;
    left: 0;
}
.five{
    background-color: grey;
    padding: 10px;
    margin: 10px;
    width: 150px;
}
.six{
    background-image: url(map.PNG);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.seven{
    background-color: lightblue;
    border: dotted;
}
.eight{
    color: black;
}