div {
    width: 50vmin;
    aspect-ratio: 1/1;
    border-radius: 2rem;
    position: relative;
    overflow: hidden;
    display: flex;
    box-shadow: 0 10px 20px oklch(0 0 0 / 20%)
  }
  
  
  div::after {
      content: '';
      position: absolute;
      top: 0%;
      right: 0%;
      bottom: 0%;
      left: 0%;
      -webkit-backdrop-filter: blur(30px);
              backdrop-filter: blur(30px);
      -webkit-mask-image: linear-gradient(
        to bottom,
        hsla(210, 100%, 45.1%, 0) 0%,
        hsla(210, 100%, 45.1%, 0.058) 9.5%,
        hsla(210, 100%, 45.1%, 0.127) 17.2%,
        hsla(210, 100%, 45.1%, 0.204) 23.6%,
        hsla(210, 100%, 45.1%, 0.287) 28.8%,
        hsla(210, 100%, 45.1%, 0.375) 33.3%,
        hsla(210, 100%, 45.1%, 0.464) 37.2%,
        hsla(210, 100%, 45.1%, 0.554) 41%,
        hsla(210, 100%, 45.1%, 0.641) 44.8%,
        hsla(210, 100%, 45.1%, 0.723) 49.1%,
        hsla(210, 100%, 45.1%, 0.799) 54.1%,
        hsla(210, 100%, 45.1%, 0.865) 60%,
        hsla(210, 100%, 45.1%, 0.921) 67.3%,
        hsla(210, 100%, 45.1%, 0.963) 76.2%,
        hsla(210, 100%, 45.1%, 0.99) 87%,
        hsl(210, 100%, 45.1%) 100%
      );
              mask-image: linear-gradient(
        to bottom,
        hsla(210, 100%, 45.1%, 0) 0%,
        hsla(210, 100%, 45.1%, 0.058) 9.5%,
        hsla(210, 100%, 45.1%, 0.127) 17.2%,
        hsla(210, 100%, 45.1%, 0.204) 23.6%,
        hsla(210, 100%, 45.1%, 0.287) 28.8%,
        hsla(210, 100%, 45.1%, 0.375) 33.3%,
        hsla(210, 100%, 45.1%, 0.464) 37.2%,
        hsla(210, 100%, 45.1%, 0.554) 41%,
        hsla(210, 100%, 45.1%, 0.641) 44.8%,
        hsla(210, 100%, 45.1%, 0.723) 49.1%,
        hsla(210, 100%, 45.1%, 0.799) 54.1%,
        hsla(210, 100%, 45.1%, 0.865) 60%,
        hsla(210, 100%, 45.1%, 0.921) 67.3%,
        hsla(210, 100%, 45.1%, 0.963) 76.2%,
        hsla(210, 100%, 45.1%, 0.99) 87%,
        hsl(210, 100%, 45.1%) 100%
      );
    }
